<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:clipChildren="true"
    android:clipToPadding="true"
    android:background="@drawable/MyRewardsScreen"
    android:minWidth="25px"
    android:minHeight="25px"
    android:id="@+id/FlyOutContent">
    <FrameLayout
        android:id="@+id/frameLayout1"
        android:background="#ff54d000"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:paddingTop="0dp">
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayout1"
            android:minWidth="400dp">
            <View
                android:layout_width="40dp"
                android:layout_height="40dp"
                android:id="@+id/MenuButton"
                android:layout_margin="4dp"
                android:background="@drawable/action_menu" />
            <TextView
                android:text="My Rewards"
                android:textAppearance="?android:attr/textAppearanceMedium"
                android:layout_width="wrap_content"
                android:layout_height="fill_parent"
                android:id="@+id/textView2"
                android:gravity="center"
                android:textColor="#fff6f6f6"
                android:layout_marginLeft="8dp" />
        </LinearLayout>
    </FrameLayout>
</RelativeLayout>